@CHARSET "UTF-8";

#board {
	width: 1000px;
	height: auto;
	margin: auto;
}
#boardin {
	border: solid 1px black;
	width: 1000px;
	height: auto; /* 글 양에따라 크기가 자유자재로 조절되게 */
	margin: auto;
}
#boardhead {
	height: 60px;
}
#boardtitle {
	margin-left: 10px;
}
#boardinfo {
	display: -webkit-box;
	float: right;
	margin-right: 10px;
}
#boardwriter {
	margin-right: 20px;
}

#boarddate {
	margin-right: 30px;
}
#boardindex {
	margin-right: 20px;
}
#boardhits{
	margin-right: 20px;
}
#boardmid {
	height: auto; /* 글 양에따라 크기가 자유자재로 조절되게 */
	width: 1000px;
}
#boardcontent {
	height: auto; /* 글 양에따라 크기가 자유자재로 조절되게 */
	width: 850px;
	margin: auto;
}
#boardfoot {
	height: 40px;
}
#moddelbtn {
	display: -webkit-box;
	float: right;
	margin-right: 15px;
}
#prevnextbtn {
	height: 70px;
}
#replyboard {
	height: auto; /* 댓글 양에따라 크기가 자유자재로 조절되게 */
}
#replyboardin {
	border: solid 1px gray;
	height: auto; /* 댓글 양에따라 크기가 자유자재로 조절되게 */
}
#listgobtn {
	height: 70px;
}