@CHARSET "UTF-8";

#boardwrite {
	width: 1000px;
	height: auto;
	margin: auto;
}
#boardin {
	border: solid 1px black;
	width: 1000px;
	height: auto;
	margin: auto;
}
#blisthead {
	width: 980px;
	height: 50px;
	margin: auto;
	display: -webkit-box;
}
#boardName {
	width: 550px;
	margin-right: 170px;
	margin-top: 20px;
}
#usersUsersId {
	width: 150px;
}
#blistfoot{
	height: 30px;
	margin-top: 30px;
}