@CHARSET "UTF-8";

#board {
	width: 1000px;
	height: auto;
	margin: auto;
}
#boardin {
	border: solid 1px black;
	width: 1000px;
	height: auto;
	margin: auto;
}
.sline{
	border-bottom:2px solid #808080;
}
.line{
	border-bottom:1px solid #c0c0c0;
}
#boardinhead{
	width: 900px;
	height: 80px;
	margin-left: 50px;
	display: -webkit-box;
}
#contentnum{
	width: 450px;
	height: 40px;
	margin-top: 40px;
}
#contentsearch{
	width: 450px;
	height: 40px;
	margin-top: 40px;
	display: -webkit-box;
}
#contentsearchin{
	margin-left: 200px;
}
#boardlist {
	width: 900px;
	margin-top: 30px;
}
#footmargin{
	height: 100px;
}