@CHARSET "UTF-8";

#board {
	width: 1000px;
	height: 900px;
	margin: auto;
}
#boardin {
	border: solid 1px black;
	width: 1000px;
	height: 800px;
	margin: auto;
}
#boardinhead{
	width: 900px;
	height: 80px;
	margin-left: 50px;
	display: -webkit-box;
}
#contentnum{
	width: 450px;
	height: 40px;
	margin-top: 40px;
	display: -webkit-box;
}
#numtext{
	width: 120px;
}
#dropdown{
	width: 200px;
}
#contentsearch{
	width: 450px;
	height: 40px;
	margin-top: 40px;
	display: -webkit-box;
}
#contentsearchin{
	margin-left: 200px;
}
#boardlist {
	width: 800px;
	margin-top: 20px;
	margin-left: 100px;
}
.sel{
	border-bottom:1px solid #808080;
}
#boardfoot{
	height: 100px;
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#prevnextbar{
	margin-top: 30px;
}