@CHARSET "UTF-8";

#board {
	width: 1000px;
	height: auto;
	margin: auto;
}
#boardin {
	border: solid 1px black;
	width: 1000px;
	height: auto; /* 글 양에따라 크기가 자유자재로 조절되게 */
	margin: auto;
}
#boardhead{
	width: 960px;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 50px;
}
#boardmid{
	width: 960px;
	margin-left: 20px;
	margin-bottom: 50px;
}
#midh{
	margin-bottom: 50px;
}
#midf{
}
#boardfoot{
	height: 70px;
}
/* #replyboard {
	height: auto; 댓글 양에따라 크기가 자유자재로 조절되게
	margin-top: 40px;
	margin-bottom: 25px;
}
#replyboardin {
	border: solid 1px gray;
	height: auto; 댓글 양에따라 크기가 자유자재로 조절되게
} */
#back{
	margin-left: 10px;
	margin-top: 10px;
}