@CHARSET "UTF-8";

section {
	margin: auto;
	width: 1200px;
}
div {
	flex: none;
}
#carousel-example-generic{
	height: 170px;
	width: 900px;
}
#seasonpic1{
	height: 150px;
	width: 900px;
}
#seasonpic2{
	height: 150px;
	width: 900px;
}
#seasonpic3{
	height: 150px;
	width: 900px;
}
#seasonpic4{
	height: 150px;
	width: 900px;
}
#parent{
	margin: auto;
	width: 1200px;
	display: -webkit-box;
}
#parent div:nth-of-type(1){
	margin-top:5px;
}
#parent div:nth-of-type(2){
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
}
#parent div:nth-of-type(2){
	-webkit-box-flex:5;
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
}
#box2{
	margin: auto;
	display: -webkit-box;
}
#logintext{
	margin-left:15px;
	width: 150px;
}
#loginbutton{
	width: 70px;
}
#logintext input{
	width: 150px;
	height: 40px;
}
#loginbutton input{
	width: 70px;
	height: 70px;
}
#loginonbox{
	width: 270px;
	height: 90px;
}
#infologbox{
	width: 240px;
	display: -webkit-box;
}
#changeuser{
	width: 115px;
}
#logout{
	width: 115px;
}
#box3{
	margin: auto;
	display: -webkit-box;
}
#loginbox{
	border:solid 1px #c5c5c5;
}
#adduser{
	margin-top:15px;
	margin-left:15px;
	width: 115px;
}
#idpwsearch{
	margin-top:15px;
	width: 115px;
}
#boardbox{
	margin: auto;
	width: 1200px;
	height: auto;
	margin-top:15px;
	display: -webkit-box;
}
#boardbox div:nth-of-type(1){
	border:solid 1px gray;
	width: 400px;
}
#boardbox div:nth-of-type(2){
	border:solid 1px green;
	width: 400px;
}
#boardbox div:nth-of-type(3){
	border:solid 1px blue;
	width: 400px;
}
#defaultbox{
	margin: auto;
	width: 1200px;
	height: 350px;
	margin-top:15px;
	display: -webkit-box;
}
#picboard{
	width: 900px;
	height: 350px;
	display: -webkit-box;
}
#picture1{
	border:solid 1px gray;
	width: 225px;
}
#picb1{
	width: 200px;
	height: 200px;
}
#picture2{
	border:solid 1px gray;
	width: 225px;
}
#picb2{
	width: 200px;
	height: 200px;
}
#picture3{
	border:solid 1px gray;
	width: 225px;
}
#picb3{
	width: 200px;
	height: 200px;
}
#picture4{
	border:solid 1px gray;
	width: 225px;
}
#picb4{
	width: 200px;
	height: 200px;
}
#bannerbox{
	width: 300px;
}
#bannerbox div:nth-of-type(1){
	height: 115px;
}
#ban1{
	height: 105px;
	width: 280px;
	margin-left: 20px;
	margin-top: 5px;
	border:solid 1px black;
	
}
#bannerbox div:nth-of-type(2){
	height: 115px;
}
#ban2{
	height: 105px;
	width: 280px;
	margin-left: 20px;
	margin-top: 5px;
	border:solid 1px black;
}
#bannerbox div:nth-of-type(3){
	height: 115px;
}
#ban3{
	height: 105px;
	width: 280px;
	margin-left: 20px;
	margin-top: 5px;
	border:solid 1px black;
}