@CHARSET "UTF-8";

header {
	margin: auto;
	width: 1200px;
	padding: 10px;
}
section {
	margin: auto;
	width: 1200px;
}
footer {
	margin: auto;
	width: 1200px;
}

div {
	flex: none;
}

#fastivallogo {
	float: left;
}

#search {
	padding: 20px;
	float: right;
	width: 500px;
}

#sitemap {
	float: right;
}

#fastivalinfo {
	float: left;
}

#sitegogo {
	padding: 20px;
	float: right;
}

#jumpMenu {
	width: 200px;
}

#seasonpic{
	-webkit-box-flex:3;
	height: 150px;
	width: 900px;
}

#parent{
	margin: auto;
	width: 1200px;
	display: -webkit-box;
}
#parent div:nth-of-type(1){
	-webkit-box-flex:1; 
	margin-top:15px;
}
#parent div:nth-of-type(2){
	-webkit-box-flex:5;
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
}
#box2 div{
	margin-left:20px;
}
#box2 div{
	border:solid 1px blue; 
}
