@CHARSET "UTF-8";

#board {
	width: 1000px;
	height: 750px;
	margin: auto;
}
#boardin {
	border: solid 1px black;
	width: 1000px;
	height: 650px;
	margin: auto;
}
#boardinhead{
	width: 900px;
	height: 80px;
	margin-left: 50px;
	display: -webkit-box;
}
#contentnum{
	width: 450px;
	height: 40px;
	margin-top: 40px;
	display: -webkit-box;
}
#contentsearch{
	width: 450px;
	height: 40px;
	margin-top: 40px;
	display: -webkit-box;
}
#contentsearchin{
	margin-left: 200px;
}
#boardlist {
	width: 900px;
	margin-top: 30px;
}